---
import Toolbox from "../components/toolbox.astro"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Colors</title>
		<script src="https://kit.fontawesome.com/c71723a21b.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://realtimecolors.com/styles.css">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<slot />
		<Toolbox> </Toolbox>
	</body>
</html>
<style type="text/css" media="screen">
 body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: black;
}
		
</style>
